{% extends 'base.html' %}
{% block content %}

<h3 class="text-center mb-4">Book Appointment</h3>

<form method="POST">

    <div class="row">

        <div class="col-md-3">
            <label>Department</label>
            <select name="department" id="department" class="form-control" required>
                <option value="">Choose</option>
                {% for d in departments %}
                <option value="{{d}}">{{d}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-3">
            <label>Doctor</label>
            <select name="doctor" id="doctor" class="form-control" required>
                <option value="">Choose</option>
            </select>
        </div>

        <div class="col-md-3">
            <label>Date</label>
            <input type="date" name="date" class="form-control" required>
        </div>

        <div class="col-md-3">
            <label>Time</label>
            <input type="time" name="time" class="form-control" required>
        </div>

    </div>

    <div class="text-center mt-5">
        <button class="btn btn-primary px-5">Confirm Appointment</button>
    </div>

</form>

<script>
    document.getElementById("department").addEventListener("change", function () {
        let dept = this.value;

        fetch("/get-doctors/" + dept)
            .then(res => res.json())
            .then(data => {
                let doctor = document.getElementById("doctor");
                doctor.innerHTML = "<option value=''>Choose</option>";

                data.forEach(function (d) {
                    doctor.innerHTML += `<option value="${d}">${d}</option>`;
                });
            });
    });
</script>

{% endblock %}