{% extends 'base.html' %}
{% block content%}
<div class="row justify-content-center align-items-center">
    <div class="col-md-6 col-lg-4">
        <div class="card shadow border-0">
            <div class="card-body p-4">
                <h4 class="text-center mb-4 text-dark">
                    <i class="bi bi-personal-circle"></i> Login
                </h4>

                <form method="POST">
                    <div class="mb-3">
                        <label class="form-label text-dark">Email</label>
                        <input type="email" name="email" class="form-control" required />
                    </div>

                    <div class="mb-3">
                        <label class="form-label text-dark">Password</label>
                        <input type="password" name="password" class="form-control" required />
                    </div>

                    <button class="btn btn-primary w-100">
                        <i class="bi bi-box-arrow-in-right"></i> Login
                    </button>
                </form>

                <div class="text-center mt-3">
                    <a href="/register">New User? Create Account</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}